<!DOCTYPE html>
<html>
  <head>
    <title>CriptocoinsRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= render "partials/user_card", user: @user %>
    <div class="bio_container">
      <h2>Bio</h2>
      <p class="bio_paragraph"><%= @user.bio %></p>
    </div>
    <% @user.last_3_posts.each do |post| %>
      <%= render "partials/post_card", post: post %>
    <% end %>
    <div class="see_posts">
      <button class="button">
        <%= link_to "See all posts", user_posts_path(@user), {:class => "link_class"} %>
      </button>
      <%= render 'partials/back_button'%>
    </div>
  </body>
</html>
