<!DOCTYPE html>
<html>
  <head>
    <title>CriptocoinsRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= render "partials/user_card", user: @user %>
    <% @user.last_three_posts.each do |post| %>
      <%= link_to user_post_path(@user.id, post.id), {:class => "link_class"} do%>
        <%= render "partials/post_card", post: post %>
      <% end %>
      <div class="comments_container">
        <% post.last_five_comments.each do |comment| %>
          <%= render "partials/comment_card", comment: comment %>
        <% end %>
      </div>
    <% end %>
    <div class="see_posts">
      <button class="button">Pagination</button>
      <%= render 'partials/back_button'%>
    </div>
  </body>
</html>
