<!DOCTYPE html>
<html>
  <head>
    <title>CriptocoinsRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <div class="post_container">
      <div class="post_header">
        <h2><%= @post.title %> by <%= @post.author.name %></h2>
        <p class="comments_counter2">Comments <%= @post.comments_counter %>, Likes <%= @post.likes_counter %></p>
      </div>
      <div class="post_text">
        <p><%= @post.text %></p>
      </div>
    </div>
    <div class="comments_container">
        <% @comments.each do |comment| %>
          <%= render "partials/comment_card", comment: comment %>
        <% end %>
    </div>
    <div class="see_posts">
      <%= render 'partials/back_button'%>
    </div>
  </body>
</html>
